// narrow mobile
@media (max-width: $MQMobileNarrow)
  {$contentClass}
    div[class*="language-"]
      margin-left: -15px // padding of .content-wrapper
      margin-right: -15px // padding of .content-wrapper
