#vuepress-theme-blog__global-layout > .footer {
  display: none;
}

#vuepress-theme-blog__post-layout {
  .post-tag a {
    transition: none;
  }

  .vuepress-toc {
    right: initial;
    left: 0
    bottom: 0;
    border-left: none;
    border-right: 1px solid $borderColor;
    max-width: 280px;

    .vuepress-toc-item {
      border: 0;

      a {
        transition: none !important;
        font-size: 14px !important;
      }

      &.active {
        background-color: $accentColor;

        a {
          color: white !important;
        }
      }
    }
  }
}

#base-list-layout {
  .ui-post-summary {
    font-weight: initial
  }


  .ui-post-tag {
    $size = 14px;
    font-size: $size;

    svg {
      width: $size;
      height: $size;
    }

    a {
      font-weight: initial
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  {$contentClass}:not(.custom) > & {
    margin-top: 0;
    padding-top: 0;
  }
}
