#vuperess-theme-blog__global-layout > .footer {
  display: none;
}

#vuperess-theme-blog__post-layout {
  .vuepress-toc {
    right: initial;
    left: 0
    border-left: none;
    border-right: 1px solid $borderColor;
    max-width: 280px;

    .vuepress-toc-item {
      border: 0;

      a {
        transition: none !important;
        font-size: 14px !important;
      }

      &.active {
        background-color: $accentColor;

        a {
          color: white !important;
        }
      }
    }
  }
}
